@font-face {
  font-family: 'HarmonyOS';
  src: url('/fonts/HarmonyOS_Sans_Regular.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'HarmonyOS';
  src: url('/fonts/HarmonyOS_Sans_Medium.ttf');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'HarmonyOS';
  src: url('/fonts/HarmonyOS_Sans_Light.ttf');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'HarmonyOS';
  src: url('/fonts/HarmonyOS_Sans_Bold.ttf');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'HarmonyOS';
  src: url('/fonts/HarmonyOS_Sans_Black.ttf');
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'HarmonyOS_SC';
  src: url('/fonts/HarmonyOS_Sans_SC_Light.ttf');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'HarmonyOS_SC';
  src: url('/fonts/HarmonyOS_Sans_SC_Regular.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'HarmonyOS_SC';
  src: url('/fonts/HarmonyOS_Sans_SC_Medium.ttf');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'HarmonyOS_SC';
  src: url('/fonts/HarmonyOS_Sans_SC_Bold.ttf');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'HarmonyOS_SC';
  src: url('/fonts/HarmonyOS_Sans_SC_Black.ttf');
  font-weight: 800;
  font-display: swap;
}
